[submodule "docroot/sites/all/modules/my_projects/ajax_forms_api"]
	path = docroot/sites/all/modules/my_projects/ajax_forms_api
	url = sanchiz@git.drupal.org:project/ajax_forms_api.git
	branch = 7.x-1.x
[submodule "docroot/sites/all/modules/my_projects/bypass_comment_review"]
	path = docroot/sites/all/modules/my_projects/bypass_comment_review
	url = sanchiz@git.drupal.org:project/bypass_comment_review.git
	branch = 7.x-1.x
[submodule "docroot/sites/all/modules/my_projects/context_docket"]
	path = docroot/sites/all/modules/my_projects/context_docket
	url = sanchiz@git.drupal.org:project/context_docket.git
	branch = 7.x-1.x
[submodule "docroot/sites/all/modules/my_projects/drupalauth4ssp"]
	path = docroot/sites/all/modules/my_projects/drupalauth4ssp
	url = sanchiz@git.drupal.org:project/drupalauth4ssp.git
	branch = 7.x-1.x
[submodule "docroot/sites/all/modules/my_projects/media_vimeo_uploader"]
	path = docroot/sites/all/modules/my_projects/media_vimeo_uploader
	url = sanchiz@git.drupal.org:project/media_vimeo_uploader.git
	branch = 7.x-1.x
[submodule "docroot/sites/all/modules/my_projects/expire_panels"]
	path = docroot/sites/all/modules/my_projects/expire_panels
	url = sanchiz@git.drupal.org:project/expire_panels.git
	branch = 7.x-1.x
[submodule "docroot/sites/all/modules/my_projects/panels_contextual_links"]
	path = docroot/sites/all/modules/my_projects/panels_contextual_links
	url = sanchiz@git.drupal.org:project/panels_contextual_links.git
	branch = 7.x-1.x
[submodule "docroot/sites/all/modules/my_projects/pathauto_i18n"]
	path = docroot/sites/all/modules/my_projects/pathauto_i18n
	url = sanchiz@git.drupal.org:project/pathauto_i18n.git
	branch = 7.x-1.x
[submodule "docroot/sites/all/modules/my_projects/resumablefield"]
	path = docroot/sites/all/modules/my_projects/resumablefield
	url = sanchiz@git.drupal.org:project/resumablefield.git
	branch = 7.x-1.x
[submodule "docroot/sites/all/modules/my_projects/schema_version"]
	path = docroot/sites/all/modules/my_projects/schema_version
	url = sanchiz@git.drupal.org:project/schema_version.git
	branch = 7.x-1.x
[submodule "docroot/sites/all/modules/my_projects/user_profile_comments"]
	path = docroot/sites/all/modules/my_projects/user_profile_comments
	url = sanchiz@git.drupal.org:project/user_profile_comments.git
	branch = 7.x-1.x
[submodule "docroot/sites/all/modules/my_projects/views_docket"]
	path = docroot/sites/all/modules/my_projects/views_docket
	url = sanchiz@git.drupal.org:project/views_docket.git
	branch = 7.x-1.x
[submodule "docroot/sites/all/modules/my_projects/webform_conditional_values"]
	path = docroot/sites/all/modules/my_projects/webform_conditional_values
	url = sanchiz@git.drupal.org:project/webform_conditional_values.git
	branch = 7.x-1.x
